.container1{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 30px;
}
.box1{
    display: flex;
    height: 40vh;
    width: 40vh;
    color: white;
    background-color: grey;
}
.box2{
    background-color: black;
    height: 20vh;
    width: 20vh;
    align-self: center;
    margin-left: 6vh; 
}
